*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/atheer-sdk/build
/demo-app/build
*.aar
*.apk

# استثناء مجلد التوثيق والباكجز الخاصة بالمحافظ اليمنية
/atheer-sdk/ملفات_توثيق_وباكجز_المحافظ_اليمنية/
